/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Script12PitchBT-Roman";

  src: url("./Script12BTRoman.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
